<div class="back-btn ms-5 mt-4">
  <%= link_to  :back do%>
      <i class="fa-solid fa-circle-arrow-left fs-3" class="back-btn rounded-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Go Back"></i>
  <% end %>
</div>
<div class="row  justify-content-center pb-5 mb-5">
  <div class="col-sm-12 col-md-6">
    <div class="row justify-content-center mx-auto rounded-5 border-primary border-bottom border-end border-2 bg-secondary p-4">
      <div class="d-flex justify-content-center align-items-end mb-3">
        <% if @goal.name.nil? %>
        <%= image_tag "babytree2.svg", class: "w-25 me-4" %>
        <h2 class="fw-bold">Create a new goal</h2>
        <% else %>
        <%= image_tag "tree_art.svg", class: "w-25 me-4" %>
        <h2 class="fw-bold">Edit your goal</h2>
        <% end %>
      </div>
      <hr>


      <div>
        <%= simple_form_for @goal do |f| %>

          <div class="row  m-2">
            <div class="row px-1 rounded-4 mb-2 text-warning bg-body">
              <div class="col-1 my-auto mx-auto d-flex align-items-center">
                <i class=" bi bi-compass fs-2"></i>
              </div>
              <div class="col-10 pb-2  ms-2 text-light pe-3">
                <h5 class="pt-2">Title</h5>
                <%= f.input :name, input_html: {class: "rounded-4 border-2 border-white text-white"},
                                              placeholder: "add a title", label:false %>
              </div>
            </div>
          </div>

          <div class="row  m-2">
              <div class="row px-1 rounded-4 mb-3 bg-body text-success ">
                <div class="col-1 my-auto mx-auto d-flex align-items-center">
                  <i class="fa-solid fa-tag fs-2"></i>
                </div>
                <div class="col-10 pb-2 ms-2 text-light">
                  <h5  class="pt-2">Category</h5>
                    <%= f.input :category, input_html: {class: "rounded-4 border-2 border-white text-white"},
                                                        placeholder: "add a category", label:false %>
                </div>
              </div>
          </div>

          <div class="row col-12 mb-3 fs-5">
            <%= f.input :description, input_html: {class:"border-2 border-secondary border-end border-bottom rounded-4 text-light m-0"}, size: "60x5", label: "• Description", placeholder: "  Add a detailed description..." %>
          </div>

        <div class="row m-2 p-2">
          <div class="row justify-content-center">
            <%= f.submit class:"btn btn-success rounded-4 fw-bold"%>
          </div>
        </div>

        <% end %>
    </div>
  </div>
</div>
