<style>

</style>

<div class="bg d-none d-sm-block"></div>
<div class="container py-4 d-flex align-items-center" style="">
  <div class="row justify-content-center align-middle mx-auto">
    <h1 class="fw-bold d-none d-sm-block text-center text-light my-3 display-4">Katapi</h1>
    <div class="card notscale border-0 px-4 py-3 mt-3 rounded-4 bg-body" style="max-width: 45rem;">
      <div class="card-body">
        <h1 class="card-title d-block d-sm-none fw-bold text-center my-3 mb-4 display-4">Katapi</h1>
        <h4 class="card-subtitle mb-2 text-center">Sign up to Katapi</h4>
        <div class="d-block d-sm-none text-center my-5">
          <%= image_tag "hands-bomb.png", class: "img-fluid w-50" %>
        </div>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        placeholder: "Enter your email",
                        input_html: { autocomplete: "email", class: "rounded-4 shadow-sm border-0 bg-secondary py-2 fs-08" },
                        label_html: { class: "text-white", style: "font-size: 0.8rem;" } %>
            <%= f.input :password,
                        required: true,
                        placeholder: "Enter your password",
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), id: "fs-6",
                        input_html: { autocomplete: "new-password", class: "rounded-4 shadow-sm border-0 bg-secondary py-2" },
                        label_html: { class: "text-white fs-08" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        placeholder: "Confirm your password",
                        input_html: { autocomplete: "new-password", class: "rounded-4 shadow-sm border-0 bg-secondary py-2" },
                        label_html: { class: "text-white fs-08" } %>
          </div>

          <div class="form-actions mt-4">
            <%= f.button :submit, "Sign up", class: "rounded-4 btn btn-sm btn-success w-100" %>
          </div>
        <% end %>

        <div class="text-center">
          <p class="card-subtitle my-4 text-muted fs-08">Or continue with</p>
          <div class="bg-light border-bottom border-end pt-2 pb-1 shadow-sm rounded-4 mx-auto col-2">
            <%= render "devise/shared/oauth_form", class: ""  %>
          </div>
        </div>

        <div class="mt-4 p-2">
          <p class="card-text fs-08 fw-bold text-muted text-center">Already have an account?
            <%= link_to "Log in", new_session_path(resource_name), class: "text-decoration-none fw-bold" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
