<div class="row">
  <div class="col-12 my-3 p-2 rounded-4 bg-light shadow-sm">
  <h3><%= @task.name%></h3>
  <p class="border-bottom"><%= @task.description%></p>
  <p>Status: <%= @task.status%></p>
  <p>Difficulty: <%= @task.difficulty%></p>
  <p>Due date: <%= @task.due_date%></p>
  <p class="text-muted">Completion date:<%= @task.completion_date%></p>

  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="col-6">
      <%= link_to "Edit task", edit_task_path(@task), class: "btn btn-dark rounded-4" %>
    </div>
    <div class="col-6 my-2">
      <%= render 'tasks/partials/richtext_task' %>
    </div>
  </div>
</div>
