 <div class="row">
  <div class="col-12">
    <h3>Stats</h3>
  </div>
 </div>
<div class="row bg-red order border-2">
  <div class="col-sm-12 col-lg-7">

    <div class="row my-auto align-items-center">
      <hr>

<!-- de camilo -->

        <div class="row g-3 my-2">

          <div class="col-sm-12 col-xl-4 mb-1 mt-3">
            <div class="rounded-4 bg-secondary">
              <div class="row g-0 justify-content-between">
                <div class="col-6 d-flex align-items-center">
                  <div class="card-body text-center">
                    <h5 class="card-title text-light">Not started</h5>
                  </div>
                </div>

                <div class="col-6 containerpb">
                  <div class="card notscale rounded-4 border-0 p-1">
                    <div class="percent" style="--clr:#7ed6df;--num:<%= percentage_not_started %>">
                      <div class="dot"></div>
                      <svg>
                          <circle cx="50" cy="50" r="50"></circle>
                          <circle cx="50" cy="50" r="50"></circle>
                      </svg>
                      <div class="number">
                      <h2> <%= percentage_not_started %> <span>%</span></h2>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-sm-12 col-xl-4 mb-1 mt-3">
            <div class="rounded-4 bg-secondary p-1">
              <div class="row g-0 justify-content-between">
                <div class="col-6 d-flex align-items-center">
                  <div class="card-body text-center">
                    <h5 class="card-title text-light">In progress</h5>
                  </div>
                </div>

                <div class="col-6 containerpb">
                  <div class="card notscale rounded-4 border-0">
                    <div class="percent" style="--clr:#686de0;--num:<%= percentage_in_progress %>">
                      <div class="dot"></div>
                      <svg>
                          <circle cx="50" cy="50" r="50"></circle>
                          <circle cx="50" cy="50" r="50"></circle>
                      </svg>
                      <div class="number">
                          <h2> <%= percentage_in_progress %> <span>%</span></h2>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-sm-12 col-xl-4 mb-1 mt-3">
            <div class="rounded-4 bg-secondary p-1">
              <div class="row g-0 justify-content-between">
                <div class="col-6 d-flex align-items-center">
                  <div class="card-body text-center">
                    <h5 class="card-title text-light">Done</h5>
                  </div>
                </div>

                <div class="col-6 containerpb">
                  <div class="card notscale rounded-4 border-0">
                    <div class="percent" style="--clr:#badc58;--num:<%= percentage_done %>">
                      <div class="dot"></div>
                      <svg>
                          <circle cx="50" cy="50" r="50"></circle>
                          <circle cx="50" cy="50" r="50"></circle>
                      </svg>
                      <div class="number">
                          <h2> <%= percentage_done %> <span>%</span></h2>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>

<!-- fin de camilo -->

      <div class="col bg-secondary rounded-4 m-2 fs-1 p-2 my-lg-4">
        <div class="row">
          <div class="col-6 px-lg-6 d-flex align-items-center">
          <h5>Total Completed Tasks</h5>
          </div>
            <div class="col-sm-12 col-lg-6 d-flex justify-content-center px-5 align-items-center">

              <div class="class text-primary px-lg-2">
                <%= current_user.tasks.done.count %>
              </div>
              <i class="fa-solid fa-trophy  text-warning p-2"></i>
            </div>
        </div>
      </div>

      <div class="col bg-secondary rounded-4 m-2 fs-1 p-2 my-4">
        <div class="row">
          <div class="col-6 px-lg-6 d-flex align-items-center">
          <h5>Total Completed Goals</h5>
          </div>
            <div class="col-sm-12 col-lg-6 d-flex justify-content-center px-5 align-items-center">

              <div class="class text-primary px-lg-2">
                <%= current_user.goals.adult.count %>
              </div>
              <i class="fa-solid fa-trophy  text-warning p-2"></i>
            </div>
        </div>
      </div>

    </div>

  </div>


  <div class="col-sm-12 col-lg-5 p-2">

    <h5>All your tasks by status</h5>
      <div class="col bg-secondary rounded-4 p-2">
      <%= pie_chart current_user.tasks.group(:status).count, download: true, colors: ["#ff7979", "#badc58","#7ed6df"], empty: "Oops you haven't any task to see here!" %>
      </div>

  </div>


    <div class="row my-3">
      <div class="col-sm-12 col-lg-6">
        <h5>All your goals by category</h5>
        <div class="col bg-secondary rounded-4">
        <%= column_chart current_user.goals.group(:category).count, download: true, colors: ["#7ed6df"], empty: "Oops you haven't any goal to see here!"%>
        </div>

      </div>



      <div class="col-sm-12 col-lg-6">

        <h5>Tasks Completed in this month</h5>
          <div class="col bg-secondary rounded-4">
          <%= line_chart current_user.tasks.group_by_day(:completion_date, range: 1.month.ago).count,  download: true, colors: ["#686de0"], library: {backgroundColor: "#262638"}, empty: "Oops you aren't completed any task this month!"  %>
          </div>

      </div>
    </div>

</div>








<div class="row my-3 justify-content-center">
  <div class="col-sm-12 col-lg-4 p-2">
    <h5> Goals by Maturity level</h5>
    <div class="col bg-secondary rounded-4 p-2">
      <%= pie_chart current_user.goals.group(:maturity).count, donut: true, download: true, colors: ["#686de0", "#f6e58d","#7ed6df"], empty: "Oops you haven't any goal to see here!" %>
    </div>

  </div>



  <div class="col-sm-12 col-lg-4 p-2">
    <h5> Tasks by Difficulty level</h5>
      <div class="col bg-secondary rounded-4 p-2">
        <%= column_chart current_user.tasks.group(:difficulty).count, download: true, colors: ["#badc58"], empty: "Oops you haven't any goal to see here!"%>
      </div>
  </div>


  <div class="col-sm-12 col-lg-4 p-2">
    <h5> Tasks by Priority level</h5>
      <div class="col bg-secondary rounded-4 p-2">
        <%= line_chart current_user.tasks.group(:priority).count, download: true, colors: ["#7ed6df"], empty: "Oops you haven't any goal to see here!" %>
      </div>
  </div>


</div>
