<style>
@media screen and (min-width: 800px) {
  .modal-dialog {
    margin-right: 0 !important;
    margin-top: 0 !important;

  }
}


</style>

<% if @user.goals.count > 0 %>
<div class="row g-4">
  <div class="col-md-8 order-1 order-md-0">
    <h5 class="pb-2 mb-3 border-bottom">Goals summary</h5>

    <div class="row g-3">
    <div class="col-12 col-sm-4 d-flex align-items-stretch">
        <div class="card border-0 rounded-4 bg-light shadow-sm" style="">
          <div class="card-body">
            <p class="fs-2 mb-1"><%= @seed_percentage %>%</p>
            <p class="card-text fs-08 mb-1 fw-bold">Seed - sin iniciar</p>
            <p class="card-text fs-08 m-0">12 de todas las goals aun estan en estado semilla</p>
            <%= link_to "Ver goals", "#", class: "text-decoration-none link-primary fs-08" %>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-4 d-flex align-items-stretch">
        <div class="card border-0 rounded-4 bg-light shadow-sm" style="">
          <div class="card-body">
            <p class="fs-2 mb-1"><%= @sapling_percentage %>%</p>
            <p class="card-text fs-08 mb-1 fw-bold">Sapling - sin iniciar</p>
            <p class="card-text fs-08 m-0">12 de todas las goals aun estan en estado sapling</p>
            <%= link_to "Ver goals", "#", class: "text-decoration-none link-primary fs-08" %>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-4 d-flex align-items-stretch">
        <div class="card border-0 rounded-4 bg-light shadow-sm" style="">
          <div class="card-body">
            <p class="fs-2 mb-1"><%= @mature_tree_percentage %>%</p>
            <p class="card-text fs-08 mb-1 fw-bold">Mature trees - metas realizadas</p>
            <p class="card-text fs-08 m-0">12 de todas las goals aun estan en estado semilla</p>
            <%= link_to "Ver goals", "#", class: "text-decoration-none link-primary fs-08" %>
          </div>
        </div>
      </div>

    </div>

    <%# Aqui se renderizan las goals %>
    <div class="mt-5 pb-1 d-flex justify-content-between align-items-center border-bottom">
      <h5 class="m-0 p-0">Goals</h5>
      <%= link_to "See all", goals_path, class: "text-decoration-none" %>
    </div>

    <div class="row mt-2" data-controller="refresh-goals-list">

      <div class="col-12">
      <div class="row" data-masonry='{"percentPosition": true }'>
        <% @goals.each do |goal| %>
          <div class="col-6 col-sm-4">
            <div class="d-flex align-items-stretch">
              <a href="" class="text-decoration-none link-dark" data-bs-toggle="modal" data-bs-target="#modalGoal"
                data-bs-goal-name="<%= goal.name %>" data-bs-goal-description="<%= goal.description %>" data-bs-goal-category="<%= goal.category %>"
                data-bs-goal-date="<%= goal.completion_date %>" data-bs-goal-url="<%= request.base_url %>/goals/<%= goal.id %>">
                <%= render "card_goal_board", goal: goal %>
              </a>

              <div class="modal fade" id="modalGoal" tabindex="-1" aria-labelledby="modalGoalLabel" aria-hidden="true">
                <%= render "modal_for_goal", goal: goal %>
              </div>
            </div>
          </div>
        <% end %>
      </div>


      </div>


    </div>
  </div>

  <div class="col-md-4 order-0 order-md-1">
    <div class="position-sticky" style="top: 1rem;">
      <div class="p-2 mb-3 bg-light rounded">
        <h5 class="">Calendar</h5>
        TODO
      </div>

      <div class="p-2 mb-3 bg-light rounded">
        <h5 class="my-3">Monthly calendar</h5>
        <div class="rounded-4">
          <%= render 'tasks/partials/calendar' %>
        </div>
      </div>
    </div>
  </div>
</div>

<% else %>

<div class="row justify-content-center" style="height: 80vh">
  <div class="col-12">
    <div class="card border-0 bg-transparent" style="">
      <div class="card-body border-0 bg-transparent d-flex align-items-center">
      <div class="w-25">
        <%= image_tag "https://cdn.dribbble.com/userupload/3223957/file/original-7d1a606fab9ae5ddeed8e62d0e6a034c.png?compress=1&resize=1200x861",
          class: "img-fluid", style: "border-radius: 30% 70% 70% 30% / 54% 50% 50% 46%" %>
      </div>
          <div class="ms-4">
            <h5 class="card-title fs-4">Hmmm... nothing to see here! </h5>
            <p class="card-text text-end"><%= link_to "Why don't you create a new goal?", new_goal_path, class: "text-decoration-none link-warning fw-bold" %></p>
          </div>
      </div>
    </div>

  </div>
</div>

<% end %>

<script>
  const modalGoal = document.getElementById('modalGoal')
    modalGoal.addEventListener('show.bs.modal', event => {
    const goal = event.relatedTarget
    const goalName = goal.getAttribute('data-bs-goal-name')
    const goalDescription = goal.getAttribute('data-bs-goal-description')
    const goalCategory = goal.getAttribute('data-bs-goal-category')
    const goalDate = goal.getAttribute('data-bs-goal-date')
    const goalUrl = goal.getAttribute('data-bs-goal-url')

    const goalNameM = modalGoal.querySelector('#goalName')
    const goalDescriptionM = modalGoal.querySelector('#goalDescription')
    const goalCategoryM = modalGoal.querySelector('#goalCategory')
    const goalDateM = modalGoal.querySelector('#goalDate')
    const goalLinkM = modalGoal.querySelector('#goalLink')

    goalNameM.textContent = `${ goalName }`
    goalDescriptionM.textContent = `${ goalDescription }`
    goalCategoryM.textContent = `${ goalCategory }`
    goalDateM.textContent = `${ goalDate }`

    const mydiv = document.getElementById("#modal-footer");
    const aTag = document.createElement('a');
    aTag.setAttribute('href', goalUrl);
    aTag.innerText = "See goal details";
    mydiv.appendChild(aTag);

  })
</script>
