
<% if @user.goals.present? %>
<div class="row g-4">
  <div class="col-md-8 order-1 order-md-0">
    <h5 class="pb-2 mb-3 border-bottom">Goals summary</h5>

    <div class="row gx-3">
      <div class="col-12 col-sm-4 align-items-stretch">
        <div class="card border-0 rounded-4 bg-secondary shadow-sm notscale" style="">
          <div class="card-body">
            <p class="card-text fs-08 mb-1 fw-bold text-muted">Not started</p>
            <p class="fs-3 m-0 mb-1"><%= @baby_percentage %>%</p>
            <div class="text-end"><%= link_to "See goals", by_status_path(0), class: "badge bg-danger rounded-pill text-decoration-none text-dark" %></div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-4 align-items-stretch">
        <div class="card border-0 rounded-4 bg-secondary shadow-sm notscale" style="">
          <div class="card-body">
            <p class="card-text fs-08 mb-1 fw-bold text-muted">In progress</p>
            <p class="fs-3 m-0 mb-1"><%= @young_percentage %>%</p>
            <div class="text-end"><%= link_to "See goals", by_status_path(1), class: "badge bg-primary rounded-pill text-decoration-none text-dark" %></div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-4 align-items-stretch">
        <div class="card border-0 rounded-4 bg-secondary shadow-sm notscale" style="">
          <div class="card-body">
            <p class="card-text fs-08 mb-1 fw-bold text-muted">Completed</p>
            <p class="fs-3 m-0 mb-1"><%= @adult_percentage %>%</p>
            <div class="text-end"><%= link_to "See goals", by_status_path(2), class: "badge bg-success rounded-pill text-decoration-none text-dark" %></div>
          </div>
        </div>
      </div>
    </div>

    <%# Aqui se renderizan las goals %>
    <div class="mt-5 pb-1 d-flex justify-content-between align-items-center border-bottom">
      <h4 class="m-0 p-0">Goals</h4>
      <%= link_to "All goals", goals_path, class: "text-decoration-none link-info fs-07" %>
    </div>

    <%# Carousel %>
    <div class="row">
      <div class="main-carousel bg-body" data-flickity='{ "draggable": false, "cellAlign": "left", "contain": true, "freeScroll": false, "wrapAround": true, "pageDots": false }'>
        <% @goals.each do |goal| %>
          <div class="carousel-cell col-5 col-md-3 me-3">
            <%= render "card_goal_board", goal: goal %>
          </div>
        <% end %>
        <div class="carousel-cell col-5 col-md-3 me-3">
          <%= render "ghost_card" %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 order-0 order-md-1">
    <div class="position-sticky" style="top: 1rem;">
      <div class="px-3 pt-3 pb-1 mb-3 bg-secondary rounded-4">
        <h5 class="my-1 mb-3">Upcoming tasks</h5>
          <p class="fs-08"><%= @upcoming_tasks_day %></p>
          <% @upcoming_tasks&.each do |upcoming_task| %>
          <div class="col-12">
            <%= render 'tasks/partials/card_upcoming_task', task: upcoming_task %>

          </div>
          <% end %>
      </div>

      <div class="p-2 mb-3 bg-secondary rounded-4">
        <h5 class="mt-3 mb-2 px-2">Monthly calendar</h5>
        <div class="rounded-4 text-light">
          <%= render 'tasks/partials/calendar' %>
        </div>
      </div>
    </div>
  </div>
</div>

<% else %>

<div class="row justify-content-center" style="height: 80vh">
  <div class="col-12">
    <div class="card border-0 bg-transparent" style="">
      <div class="card-body border-0 bg-transparent d-flex align-items-center">
      <div class="w-25">
        <%= image_tag "https://cdn.dribbble.com/userupload/3223957/file/original-7d1a606fab9ae5ddeed8e62d0e6a034c.png?compress=1&resize=1200x861",
          class: "img-fluid", style: "border-radius: 30% 70% 70% 30% / 54% 50% 50% 46%" %>
      </div>
          <div class="ms-4">
            <h5 class="card-title fs-4">Hmmm... nothing to see here! </h5>
            <p class="card-text text-end"><%= link_to "Why don't you create a new goal?", new_goal_path, class: "text-decoration-none link-warning fw-bold" %></p>
          </div>
      </div>
    </div>

  </div>
</div>

<% end %>
</div>
