<div class="row g-4">
  <div class="col-md-8 order-1 order-md-0">
    <h5 class="pb-2 mb-3 border-bottom">Goals summary</h5>

    <div class="row g-3">
    <div class="col-12 col-sm-4 d-flex align-items-stretch">
        <div class="card border-0 rounded-4 bg-light shadow-sm" style="">
          <div class="card-body">
            <p class="fs-2 mb-1"><%= @seed_percentage %>%</p>
            <p class="card-text fs-08 mb-1 fw-bold">Seed - sin iniciar</p>
            <p class="card-text fs-08 m-0">12 de todas las goals aun estan en estado semilla</p>
            <%= link_to "Ver goals", "#", class: "text-decoration-none link-primary fs-08" %>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-4 d-flex align-items-stretch">
        <div class="card border-0 rounded-4 bg-light shadow-sm" style="">
          <div class="card-body">
            <p class="fs-2 mb-1"><%= @sapling_percentage %>%</p>
            <p class="card-text fs-08 mb-1 fw-bold">Sapling - sin iniciar</p>
            <p class="card-text fs-08 m-0">12 de todas las goals aun estan en estado sapling</p>
            <%= link_to "Ver goals", "#", class: "text-decoration-none link-primary fs-08" %>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-4 d-flex align-items-stretch">
        <div class="card border-0 rounded-4 bg-light shadow-sm" style="">
          <div class="card-body">
            <p class="fs-2 mb-1"><%= @mature_tree_percentage %>%</p>
            <p class="card-text fs-08 mb-1 fw-bold">Mature trees - metas realizadas</p>
            <p class="card-text fs-08 m-0">12 de todas las goals aun estan en estado semilla</p>
            <%= link_to "Ver goals", "#", class: "text-decoration-none link-primary fs-08" %>
          </div>
        </div>
      </div>

    </div>

    <%# Aqui se renderizan las goals %>
    <div class="mt-5 pb-1 d-flex justify-content-between align-items-center border-bottom">
      <h5 class="m-0 p-0">Goals</h5>
      <%= link_to "See all", goals_path, class: "text-decoration-none" %>
    </div>

    <div class="row" data-controller="refresh-goals-list">

      <div class="col-12">
      <div class="row" data-masonry='{"percentPosition": true }' data-refresh-list-target="list">
        <% @goals.each do |goal| %>
          <div class="col-6 col-sm-4">
            <div class="d-flex align-items-stretch">
              <%= render "goals/partials/card_goal", goal: goal %>
            </div>
          </div>
        <% end %>
      </div>


      </div>


    </div>
  </div>

  <div class="col-md-4 order-0 order-md-1">
    <div class="position-sticky" style="top: 1rem;">
      <div class="p-2 mb-3 bg-light rounded">
        <h5 class="">Calendar</h5>
        TODO
      </div>

      <div class="p-2 mb-3 bg-light rounded">
        <h5 class="my-3">Monthly calendar</h5>
        <div class="rounded-4">
          <%= render 'tasks/partials/calendar' %>
        </div>
      </div>
    </div>
  </div>
</div>
