<div class="row">
<div class="card  rounded-4 bg-success bg-opacity-10 border-0  mb-3 col-sm-11 col-lg-9">
  <div class="d-flex position-relative bg-opacity-10 d-flex justify-content-between px-3" >
    <div class="mb-0">
      <h3 class=" m-0"> <%= @goal.name%> </h3>
      <p class="my-0"><%= @goal.maturity.capitalize%> | <%= @goal.category.capitalize %> |  </p>
    </div>
    <div class="col-2">
      <img src="https://i.pinimg.com/564x/f2/52/fa/f252fa96c51dd1cb0ac71f85858632db.jpg" style="width: 50px; height: 50px;" class="rounded-circle me-3" alt="...">
    </div>
  </div>
</div>
<div class="col-sm-12 col-lg-2 d-flex  align-items-center justify-content-center ">
  <p>
    <!--inicio boton de richtext -->
    <button class="btn btn-dark rounded-4 d-flex justify-content-center pt-2 col-sm-12" type="button" data-bs-toggle="collapse" data-bs-target="#richtexGoal" aria-expanded="false" aria-controls="richtexGoal">
      See Notes
    </button>
  </p>
</div>
  <!--fin boton de richtext -->
  <div class="col-sm-2 col-lg-1">
    <%= render 'tasks/partials/button_modal_new_task' %>
  </div>
</div>
  <!--inicio llamado de richtext -->
<div class="collapse" id="richtexGoal">
  <div class="card card-body rounded-4">
   <%= simple_form_for @goal do |f| %>
     <%= f.rich_text_area :review, as: :file, input_html: {class:"border-0 rounded-4"}  %>
     <div class="d-flex justify-content-end pt-2">
       <%= f.submit class:"btn btn-dark rounded-4"%>
       </div>
  </div>
</div>
<% end %>
  <!--fin de llamado richtext -->

<div class="row row-cols-sm-1 row-cols-m-2  row-cols-lg-3 my-0 mx-0" data-controller="sortable"
  data-action="onEnd->sortable#sortable" id="results">

  <div class="col">
    <div class="row rounded-4 g-2 mb-3 bg-success text-dark bg-opacity-10">
      <div class="col-1 my-auto mx-auto d-flex align-items-center">
        <i class="fa-solid fa-circle-exclamation"></i>
      </div>
      <div class="col-10">
        <p>TO-DO</p>
      </div>
    </div>


      <ul class="row bg-success bg-opacity-10 p-0 rounded-4 g-2 mb-3  list-unstyled bar-goal" id="col-todo" data-status="not_started">
        <% @todo.each do |task| %>
          <li class="pl-0 d-flex justify-content-center" data-task-id="<%=task.id %>">
              <%= render 'tasks/partials/card_task' , task: task %>
          </li>
        <% end %>
      </ul>

  </div>

  <div class="col">
    <div class="row rounded-4 g-2 mb-3 bg-success text-dark bg-opacity-10">
      <div class="col-1 my-auto mx-auto d-flex align-items-center">
        <i class="fa-solid fa-list-check"></i>
      </div>
      <div class="col-10">
        <p>DOING</p>
      </div>
    </div>

      <ul class="row bg-success bg-opacity-10 p-0 rounded-4 g-2 mb-3  list-unstyled bar-goal" id="col-doing" data-status="in_progress">
        <% @doing.each do |task| %>
          <li class="pl-0 d-flex justify-content-center" id="hover-card-board" data-task-id="<%=task.id %>">
              <%= render 'tasks/partials/card_task' , task: task %>
          </li>
          <% end %>
      </ul>
  </div>


  <div class="col">
    <div class="row rounded-4 g-2 mb-3 bg-success text-dark bg-opacity-10">
      <div class="col-1 my-auto mx-auto d-flex align-items-center">
        <i class="fa-solid fa-circle-check"></i>
      </div>
      <div class="col-10">
        <p>DONE</p>
      </div>
    </div>

      <ul class="row bg-success bg-opacity-10 p-0 rounded-4 g-2 mb-3  list-unstyled bar-goal" id="col-done" data-status="done">
        <% @done.each do |task| %>
          <li class="pl-0 d-flex justify-content-center" data-task-id="<%=task.id %>">
              <%= render 'tasks/partials/card_task' , task: task %>
          </li>
          <% end %>
      </ul>
  </div>

</div>
