<div class="row mt-3 d-none d-md-block">

  <div class="row row-cols-sm-1 row-cols-md-3 m-0 static-row" data-controller="sortable"
    data-action="onEnd->sortable#sortable" id="results" >
    <div class="col">
      <div class="row rounded-4 g-2 mb-3 bg-secondary">
        <div class="col-1 my-auto mx-auto d-flex align-items-center">
          <i class="fa-solid fa-circle-exclamation"></i>
        </div>
        <div class="col-10">
          <p>TO-DO</p>
        </div>
      </div>
        <ul class="row bg-secondary p-0 rounded-4 g-2 mb-3  list-unstyled bar-goal scroll-col" id="col-todo" data-status="not_started">
          <% @todo.each do |task| %>
            <li class="pl-0 d-flex justify-content-center" data-task-id="<%=task.id %>">
                <%= render 'tasks/partials/card_task' , task: task %>
            </li>
          <% end %>
        </ul>
    </div>
    <div class="col">
      <div class="row rounded-4 g-2 mb-3 bg-secondary">
        <div class="col-1 my-auto mx-auto d-flex align-items-center">
          <i class="fa-solid fa-list-check"></i>
        </div>
        <div class="col-10">
          <p>IN-PROGRESS</p>
        </div>
      </div>
        <ul class="row bg-secondary p-0 rounded-4 g-2 mb-3  list-unstyled bar-goal scroll-col" id="col-doing" data-status="in_progress">
          <% @doing.each do |task| %>
            <li class="pl-0 d-flex justify-content-center" id="hover-card-board" data-task-id="<%=task.id %>">
                <%= render 'tasks/partials/card_task' , task: task %>
            </li>
            <% end %>
        </ul>
    </div>
    <div class="col">
      <div class="row rounded-4 g-2 mb-3 bg-secondary">
        <div class="col-1 my-auto mx-auto d-flex align-items-center">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <div class="col-10">
          <p>DONE</p>
        </div>
      </div>
        <ul class="row bg-secondary p-0 rounded-4 g-2 mb-3  list-unstyled bar-goal scroll-col" id="col-done" data-status="done">
          <% @done.each do |task| %>
            <li class="pl-0 d-flex justify-content-center" data-task-id="<%=task.id %>">
                <%= render 'tasks/partials/card_task' , task: task %>
            </li>
            <% end %>
        </ul>
    </div>
  </div>

</div>
