<div class="row d-flex justify-content-end index-calendar ">
  <%= month_calendar events: @tasks do |date, tasks| %>
    <% tasks.each do |task| %>
      <button class="btn btn-sm btn-success rounded-circle d-flex justify-content-center" style="width:30px" type="button"
        id="dateTask" data-bs-toggle="dropdown" aria-expanded="false">
        <%= date.day %>
      </button>

      <div class="dropdown ">
        <ul class="dropdown-menu border border-5 rounded-5 text-center" aria-labelledby="dateTask">
          <li>
            <%= link_to "#{task.name.capitalize}" , task, class:"btn btn-white" %>
          </li>
        </ul>
        <div class="dropdown d-none">
          <ul class="dropdown-menu border border-5 rounded-5 text-center" aria-labelledby="dateTask">
            <li>
              <%= link_to "#{task.name.capitalize}" , task, class:"btn btn-white" %>
            </li>
          </ul>
        <%# </div> %>
    <% end %>
    <div class="d-flex justify-content-center">
      <%= date.day %>
    </div>
  <% end %>
</div>
