<style>
 .form-select {
  display: block;
  width: 90%;
  background-image: none;
  }
</style>


 <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">

      <div class="row justify-content-center mx-auto bg-secondary p-4 rounded-5">

<!-- Button back -->
    <div class="back-btn">
      <%= link_to  :back do%>
          <i class="fa-solid fa-circle-arrow-left fs-5" class="back-btn rounded-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Go Back"></i>
      <% end %>
    </div>

          <div class="d-flex justify-content-center">
          <% if @task.name.nil? %>
            <h3>Create a new Task</h3>
            <% else %>
            <h3>Edit Your Task</h3>
            <% end %>
          </div>

        <%= simple_form_for [@goal, @task] do |f| %>

                <div class="row rounded-5 mb-3 text-white-smoke p-2 bg-body">
                  <div class="col-1 my-auto mx-auto d-flex align-items-center text-primary">
                    <i class="fa-solid fa-list-check fs-2"></i>
                  </div>
                  <div class="col-10 pb-2">
                    <h5>Task name</h5>
                      <div>
                      <%= f.input :name, input_html: {class:"border-0 rounded-4 p-2 bg-white"}, label:false, placeholder:"Enter task tittle..." %>
                      </div>
                  </div>
                </div>

      <!-- Inicio cuadricula -->
              <div class="row row-cols-sm-1  row-cols-lg-3">

                <div class="col-sm-12">
                  <div class="row p-1 rounded-5 g-2 mb-3 text-white-smoke bg-body">
                    <div class="col-1 my-auto mx-auto d-flex align-items-center text-primary">
                      <i class="fa-solid fa-circle-exclamation fs-4"></i>
                    </div>
                    <div class="col-10 p-2">
                        <%# <h5>Priority</h5> %>
                          <div>
                         <%= f.input :priority,
                                      as: :radio_buttons,
                                      collection_wrapper_tag: 'div',
                                      collection_wrapper_class: 'category-wrapper',
                                      item_wrapper_class: 'category-item',
                                      input_html: {class: 'category-selector'},
                                      collection: Task.priorities.keys %>
                        </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="row p-1 rounded-5 g-2 mb-3 text-white-smoke bg-body">
                    <div class="col-1 my-auto mx-auto d-flex align-items-center text-primary">
                      <i class="fa-solid fa-tag fs-4"></i>
                    </div>
                    <div class="col-10 p-2">
                      <%# <h5>Difficulty</h5> %>
                        <div>
                         <%= f.input :difficulty,
                                      as: :radio_buttons,
                                      collection_wrapper_tag: 'div',
                                      collection_wrapper_class: 'category-wrapper',
                                      item_wrapper_class: 'category-item',
                                      input_html: {class: 'category-selector'},
                                      collection: Task.difficulties.keys %>
                        </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="row p-1 rounded-5 g-2 mb-3 text-white-smoke bg-body">
                    <div class="col-1 my-auto mx-auto d-flex align-items-center text-primary">
                      <i class="fa-solid fa-calendar-days fs-4"></i>
                    </div>
                    <div class="col-10 p-2">
                    <h5>Due Date</h5>
                        <div>
                         <%= f.input :due_date, html5:true, input_html: {class:"border-0 rounded-4 bg-white text-info px-2"}, label: false, placeholder:false%>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        <!-- Fin cuadricula collapse -->

            <div class="row col-12 mb-3 shadow-md m-0">
              <%= f.input :description, input_html: {class:"border-1 rounded-4 text-white m-0"}, size: "60x4", label: "Description", placeholder: "  Add a more detailed description..." %>
            </div>


          <div class="row">
            <%= f.submit class:"btn btn-success rounded-4"%>
          </div>

        <% end %>
      </div>
    </div>
  </div>
