<%# Banner %>
  <div class="col-12 mb-4 bg-body sticky-top">
<!-- Button back -->
    <div class="back-btn mb-2 mt-0">
      <%= link_to  :back do%>
          <i class="fa-solid fa-circle-arrow-left fs-5" class="back-btn rounded-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Go Back"></i>
      <% end %>
    </div>

    <div class="d-flex align-items-end mx-4">
      <%= image_tag "goals-title.svg", class: "img-fluid", width: "110px" %>
      <div class="ms-4">
        <h2 class="fw-bold">Goals</h2>
        <p class=""> Organize your goals and purposes! here you can see all your goals and add a new one</p>
      </div>
    </div>
  </div>


<div class="row g-4 ">
  <div class="col-md-12 order-1 order-md-0">

    <div class="col-12 mx-auto">
      <div class="col-12">
        <%= render 'goals/partials/form_search' %>
      </div>
    </div>

    <div class="row">
      <div class="col-10">
        <div class="row" data-masonry='{"percentPosition": true }' data-refresh-list-target="list">
          <%= render "goals", goals: @goals %>
        </div>

        <div class="col-12 d-flex justify-content-center my-3">
          <%= render 'goals/partials/bootstrap_nav', pagy: @pagy %>
        </div>
      </div>
    </div>
  </div>

</div>
