<h1><%= @goal.name %></h1>
<h3><%= @goal.category %></h3>
<h3><%= @goal.maturity %></h3>
<h3><%= @goal.completion_date %></h3>
<p><%= @goal.description %></p>

 <!-- <%= render 'goals/richtext_goal' %> -->
 <%= render 'shared/tasks/button_new_task' %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newTask">
  Create Task
</button>
 <%= render 'shared/tasks/modal_new_task' %>
<!-- End Button trigger modal -->





