<h1><%= @goal.name %></h1>
<h3><%= @goal.category %></h3>
<h3><%= @goal.maturity %></h3>
<h3><%= @goal.completion_date %></h3>
<p><%= @goal.description %></p>

<%= render 'goals/partials/richtext_goal' %>

<%= render 'tasks/partials/button_new_task' %>
<%= render 'tasks/partials/button_modal_new_task' %>

<% if policy(@goal).edit? %>
  <%= link_to "Edit goal", edit_goal_path %>
<% end %>

<% if policy(@goal).destroy? %>
  <%=  link_to "Delete", goal_path(@goal),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>

<% @goal.tasks.each do |task| %>
  <%= render 'tasks/partials/card_task', task: task %>
<% end %>
