<nav class="navbar shadow-sm navbar-expand-lg">
  <div class="container-fluid mx-2 py-0">
    <%# <h1><%= link_to "Katapi", activity_path, class: "navbar-brand text-light fw-bold" %>
    <%= link_to image_tag("https://res.cloudinary.com/dknxl9ghi/image/upload/v1667572387/logo_vec_sx4wzo.png", :style => 'width: 5.7rem;'), activity_path %>
    <%# <img src="https://res.cloudinary.com/dknxl9ghi/image/upload/v1667572387/logo_vec_sx4wzo.png" style="width: 100px" alt=""> %>
    <ul class="navbar-nav ms-auto">
      <div class="d-flex">
        <%# Notifications %>
        <%= render "shared/navbars/notifications" %>

        <%# User actions %>
        <a class="nav-link" href="#" data-bs-toggle="dropdown">
          <%= image_tag get_avatar_url, class: "avatar avatar-sm dropdown-toggle", id: "navbarDropdown", 'aria-haspopup': true, 'aria-expanded': false %>
        </a>

        <ul class="dropdown-menu dropdown-menu-end mx-4 position-absolute mt-1 border-0 rounded-4 shadow-sm" tab-index="-20">
          <li class="dropdown-item">
            <i class="bi bi-person-circle me-1"></i>
            <%= link_to "Profile", user_path(current_user), class: "link-dark text-decoration-none" %>
          </li>

          <li class="dropdown-item">
            <i class="bi bi-bar-chart-line me-1"></i>
            <%= link_to "Activity", "#", class: "link-dark text-decoration-none" %>
          </li>

          <li><hr class="dropdown-divider"></li>
          <li class="dropdown-item">
            <i class="bi bi-power me-1"></i>
            <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete}, class: "link-dark text-decoration-none" %>
          </li>

        </ul>
      </div>
    </ul>
  </div>
</nav>
