<aside class="sidebar p-sm-1 shadow-sm align-items-center">
  <ul class="sidebar-list m-0 p-0 mx-lg-2">

    <li class="mt-sm-2 mb-sm-2 p-2">
      <%= link_to activity_path, class: "nav-link d-flex align-items-center" do %>
        <i class="opacity-75 bi bi-columns-gap"></i>
        <span class="d-none d-md-inline ms-2 opacity-75 fw-bold">Dashboard</span>
      <% end %>
    </li>

    <hr class="my-2 d-none d-sm-block text-light border-3">

    <li class="mb-sm-2 p-2">
      <%= link_to goals_path, class: "nav-link d-flex align-items-center" do %>
        <i class="opacity-75 bi bi-compass"></i>
        <span class="d-none d-md-inline ms-2 opacity-75 fw-bold">Goals</span>
      <% end %>
    </li>

    <li class="mb-sm-2 p-2">
      <%= link_to tasks_path, class: "nav-link d-flex align-items-center" do %>
        <i class="opacity-75 bi bi-list-task"></i>
        <span class="d-none d-md-inline ms-2 opacity-75 fw-bold">Tasks</span>
      <% end %>
    </li>

    <li class="mb-sm-2 p-2">
      <%= link_to calendar_path, class: "nav-link d-flex align-items-center" do %>
        <i class="opacity-75 bi bi-calendar-minus"></i>
        <span class="d-none d-md-inline ms-2 opacity-75 fw-bold">Calendar</span>
      <% end %>
    </li>

    <li class="mb-sm-2 p-2 d-none d-sm-block">
      <%= link_to stats_path, class: "nav-link d-flex align-items-center" do %>
        <i class="opacity-75 bi bi-graph-up"></i>
        <span class="d-none d-md-inline ms-2 opacity-75 fw-bold">Stats</span>
      <% end %>
    </li>

  </ul>
</aside>
