<!DOCTYPE html>
<html>
  <head>
    <title>Katapi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="http://cdn-tailwindcss.vercel.app/?plugins=forms,typography,aspect-ratio,linie-clamp"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>
    <%= render "shared/navbars/navbar" %>

    <div class="wrapper">
      <%= render "shared/navbars/sidebar" %>
      <main>
        <div class="wrapper-inner container-fluid p-3">
          <%= yield %>
          <%= render "shared/flashes" %>
        </div>
      </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
  </body>
</html>
