<!DOCTYPE html>
<html>
  <head>
    <title>Katapi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container-fluid">
      <h1>Katapi</h1>
      <% if user_signed_in? %>
        <%= link_to "My activity dashboard", activity_path %>
      <% else %>
        <p>Eres un usuario Katapi?</p>
        <%= link_to "Iniciar sesion", new_user_session_path %>

        <p>Quieres ser parte de Katapi?</p>
        <%= link_to "Crear una cuenta", new_user_session_path %>
      <% end %>
    </div>
  </body>
</html>
